
<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/???.css') }}">
  
  <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/???.js') }}"></script>
</head>

<body>

</body>
</html>
